<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/IoTWatch" version="1.0.0" viewmodes="maximized">
    <tizen:application id="CRwMtQXQpp.IoTWatch" package="CRwMtQXQpp" required_version="2.3.1" ambient_support="enable"/>
    <tizen:category name="http://tizen.org/category/wearable_clock"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.shape.circle"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
            <access origin="*" subdomains="true"></access>
	<tizen:privilege name="http://tizen.org/privilege/internet"/>
	<tizen:privilege name="http://tizen.org/privilege/healthinfo"/>
<tizen:privilege name="http://tizen.org/privilege/location"/>
    <icon src="icon.png"/>
    <name>IoTWatch</name>
    <tizen:profile name="wearable"/>
</widget>
